doctype html
html
  head
    title= title
    link(type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.2/jsgrid.min.css")
    link(type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.2/jsgrid-theme.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.2/jsgrid.min.js")
    script(type="text/javascript" src="/javascripts/main.js")
